<p id = "notice"></p>
<div class = "container">
  <div class = "row">
    <div class = "col-md-3"></div>
    <div class = "col-md-6 py-3 mx-auto border border-bark text-center">
      <h4>ようこそ、Nail_Colorへ！</br></h4>
      <div class></br></div>
      このサイトは、ネイルを塗った時の発色を</br>
      チェックするためのサイトです。</br>
      <div class></br></div>
      持っているネイルの管理や、</br>
      新しいネイルとの出会いにご活用ください。
    </div>
    <div class = "col-md-3"></div>
  </div>
  <div class = "row">
    <div class = "col-md-3 py-3 mx-auto"></div>
    <div class = "col-md-6 py-3 mx-auto text-center">閲覧のみをご希望の方はログインページからお入りください</div>
    <div class = "col-md-3 py-3 mx-auto"></div>
  </div>
</div>